h1,
h2 {
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 27px;
  font-weight: 400;
}
hr {
  border: 1px solid #fff;
  box-shadow: -3px 3px 9px 1px #00000073;
}
img {
  display: block;
  margin: 0px 0px -10px 0px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h5 {
  font-size: 18px;
}
a {
  color: rgb(181, 197, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(121, 130, 197);
}
small {
  border-radius: 3px;
  color: #fff;
}
#current-description {
  color: rgb(27, 34, 75);
  background-color: #ffffffc5;
  transform: translateY(50%);
  border-radius: 10px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  display: block;
  margin-left: 74px;
  margin-top: -146px;
  padding: 5px 10px;
  visibility: hidden;
  text-align: center;
  transition: all 300ms ease-in-out;
}
#not-current-description {
  color: rgb(27, 34, 75);
}
.btn,
.search {
  box-shadow: 0px 4px 12px rgb(0 0 0 / 9%);
}
.btn:hover {
  color: #fff;
  background: transparent;
}
.img-container {
  position: relative;
  display: inline-block;
}

.img-container:hover #current-description {
  /*background-color: rgba(54, 85, 153, 0.5); 
  border-radius: 4px;*/
  opacity: 1;
  transform: scale(1.2);
  visibility: visible;
  transition: all 300ms ease-in-out;
}
#temp,
.temperature {
  color: rgb(27, 34, 75);
}
.container {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 940px;
}
/*.curr-weather:hover{ 
  transform: scale(1.2); 
    transition: all 300ms ease-in-out; 
}*/
.weather-container {
  color: #fff;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(149, 185, 243) 0%,
    rgb(139, 102, 241) 100%
  );
  box-shadow: 2px 9px 44px rgba(0, 0, 0, 0.3);
}

.card {
  background: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 21px 45px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 5px;
  margin-bottom: 10px;
}

.row {
  align-items: center;
}
.temperature {
  font-size: 70px;
}
.more-temp {
  font-size: 27px;
  margin-left: -15px;
}
.curr-weather {
  display: block;
  position: relative;
  margin-left: 44px;
  margin-top: -87px;

  /* transition: transform 0.3s ease-in-out, filter 3000ms ease-in-out; 
*/
}
