h1,
h2 {
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 27px;
  font-weight: 400;
}
hr {
  border: 1px solid #fff;
  box-shadow: -3px 3px 9px 1px #00000073;
}
img {
  display: block;
  margin: 0px 0px -10px 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h5 {
  font-size: 18px;
}
a {
  text-decoration: none;
}
.btn,
.search {
  box-shadow: 0px 4px 12px rgb(0 0 0 / 9%);
}
.btn:hover {
  color: #fff;
  background: transparent;
}
.container {
  margin: 0 auto;
  margin-top: 90px;
  max-width: 940px;
}
.weather-container {
  color: #fff;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(149, 185, 243) 0%,
    rgb(139, 102, 241) 100%
  );
  box-shadow: 2px 9px 44px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 15px;
}

.card {
  background: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 21px 45px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 5px;
  margin-bottom: 10px;
}
.row {
  align-items: center;
}
.temperature {
  font-size: 70px;
}
.more-temp {
  font-size: 27px;
  margin-left: -15px;
}
.curr-weather {
  display: block;
  margin-left: 40px;
  margin-top: -25px;
  margin-bottom: -38px;
}
